<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.lancer.distance">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="me.lancer.airfree.util.ApplicationUtil"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="me.lancer.airfree.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.lancer.airfree.activity.EmptyActivity"
            android:label="@string/title_activity_empty"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.lancer.airfree.activity.TransfActivity"
            android:label="@string/title_activity_transf"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.lancer.airfree.activity.RemoteActivity"
            android:label="@string/title_activity_remote"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.lancer.airfree.activity.SettingActivity"
            android:label="@string/title_activity_seting"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.lancer.airfree.activity.LinkActivity"
            android:label="@string/title_activity_link"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.lancer.airfree.activity.MouseActivity"
            android:label="@string/title_activity_mouse"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.lancer.airfree.activity.PowerActivity"
            android:label="@string/title_activity_power"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.lancer.airfree.activity.ShotActivity"
            android:label="@string/title_activity_shot"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.lancer.airfree.activity.VolumeActivity"
            android:label="@string/title_activity_volume"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.lancer.airfree.activity.BrightActivity"
            android:label="@string/title_activity_bright"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.lancer.airfree.activity.MobileActivity"
            android:label="@string/title_activity_device"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.lancer.airfree.activity.ImageActivity"
            android:label="@string/title_activity_picture"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.lancer.airfree.activity.ImageIActivity"
            android:label="@string/title_activity_picture_i"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.lancer.airfree.activity.MusicActivity"
            android:label="@string/title_activity_music"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.lancer.airfree.activity.ComputerActivity"
            android:label="@string/title_activity_computer"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.lancer.airfree.activity.ApplicationActivity"
            android:label="@string/title_activity_app"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.lancer.airfree.activity.VideoActivity"
            android:label="@string/title_activity_video"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.lancer.airfree.activity.DocumentActivity"
            android:label="@string/title_activity_document"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.lancer.airfree.activity.ProblemActivity"
            android:label="@string/title_activity_common_problem"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="me.lancer.airfree.activity.GestureActivity"
            android:label="@string/title_activity_common_problem"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="me.lancer.airfree.activity.TalkActivity"
            android:label="@string/title_activity_talk"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>